/* styles.css */
.title {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}

/* ランダムな数字を表示する要素を中央に配置 */
.random-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  font-size: 50px;
}
.number {
  margin:20px;
}

#anser{
  height: 50vh;
  font-size: 30px;
}


